HEALTHAI_DATABASE_URL=sqlite:////app/data/healthai.db
HEALTHAI_SECURE_COOKIE=true
HEALTHAI_RESULT_RETENTION_DAYS=180
HEALTHAI_PRIVACY_CONTACT=responsavel@healthai.net.br
HEALTHAI_FRONTEND_URL=https://healthai.net.br
HEALTHAI_EMAIL_DELIVERY=smtp
HEALTHAI_SMTP_HOST=smtp.hostinger.com
HEALTHAI_SMTP_PORT=465
HEALTHAI_SMTP_SECURITY=ssl
HEALTHAI_SMTP_USERNAME=naoresponda@healthai.net.br
HEALTHAI_SMTP_PASSWORD=
HEALTHAI_EMAIL_FROM=HealthAI <naoresponda@healthai.net.br>
